.home {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 10px;
    gap: 10px;
    box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    font-weight: 700;
}

input {
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

.class0 {
  background-color: rgba(163, 241, 187, 0.61) ;
    color: black;
    font-weight: 700;
}

.class1 {
  background-color: rgba(241, 241, 163, 0.61);
    color: black;
    font-weight: 700;
}

.class2 {
  background-color: rgba(241, 163, 187, 0.61);
    font-weight: 700;
    color: black;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sitesContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 5px;
  margin-top: 10px;

}

.sites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}


.sites > button {
  width: 60px;
  height: 60px;
  background-size:cover;
  border: none;
  background-color: #fff; 
  border-radius: 50%;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 10px;
}

article {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.userDimention {
  grid-column: 2;
}

.tdBorderNone {
  border: none;
}

.calculator {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
}

.calculator::-webkit-scrollbar {
  width: 5px;
}

.calculator::-webkit-scrollbar-thumb {
  background-color: rgba(240, 87, 45, 0.7);
  border-radius: 20px;
}

th {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid #555;
}

.shippingCost {
  background-color: #333;
  color: white;
}

td {
  text-align: center;
  padding: 5px;
  border: 1px solid #555;
}

td:first-child:empty {
  font-weight: normal;
  background-color: transparent;
}

.yellowRepu {
  background-color: rgba(241, 241, 163, 0.61);
  color: black;
  font-weight: 600;

}

.greenRepu {
  background-color: rgba(163, 241, 187, 0.61) ;
  color: black;
  font-weight: 600;
}

.redsRepu {
  background-color: rgba(241, 163, 187, 0.61)
  ;
  font-weight: 600;
  color: black;

}

.createTask {
  background-color: rgba(163, 241, 187, 0.61);
}

.noCreateTask {
  background-color: #fc9a9a86;
}

.noDisplay {
  display: none
}

.messageText {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.messageText > svg:hover {
  cursor: pointer;
  scale: 1.1;
}