.home {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 10px;
    gap: 10px;
    box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    font-weight: 700;
}

input {
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

.class0 {
    background-color: #00FF00;
    color: black;
    font-weight: 600;
}

.class1 {
    background-color: #FFD700;
    color: black;
    font-weight: 600;
}

.class2 {
    background-color: #FF6666;
    font-weight: 600;
    color: black;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sites {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.sites > button {
  width: 60px;
  height: 60px;
  background-size:cover;
  border: none;
  background-color: #fff; 
  border-radius: 50%;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 10px;
}

article {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.userDimention {
  grid-column: 2;
}

.tdBorderNone {
  border: none;
}


/* Estilos para el contenedor principal */
/* Estilos para la tabla */
.calculator {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid #333;
}

.calculator::-webkit-scrollbar {
  width: 5px;
}

.calculator::-webkit-scrollbar-thumb {
  background-color: rgba(240, 87, 45, 0.7);
  border-radius: 20px;
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid #555;
}

/* Estilos para las celdas de datos */
td {
  text-align: center;
  padding: 5px;
  border: 1px solid #555;
}

/* Estilos para filas alternas (para mejorar la legibilidad) */

/* Estilos para filas al pasar el mouse (resaltado) */

/* Estilo para la primera columna (en este caso, la columna de etiquetas) */

/* Estilos para las celdas vacías en la primera columna */
td:first-child:empty {
  font-weight: normal;
  background-color: transparent;
}

.yellowRepu {
  background-color: #FFD700 ;
  color: black;
  font-weight: 600;

}

.greenRepu {
  background-color: #00FF00 ;
  color: black;
  font-weight: 600;
}

.redsRepu {
  background-color: #FF6666 ;
  font-weight: 600;
  color: black;

}